<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
       下記に文字を入力してください<br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <% result2 = connection.exec("select * from crops where give_for != '自家消費';") %>
    <% data2 = [] %>
    <% result2.each do |record| %>
      <%  data2 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <% result3 = connection.exec("select * from crops where quality = false;") %>
    <% data3 = [] %>
    <% result3.each do |record| %>
      <%  data3 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="goya2.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費でないものの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya2" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="goya3.cgi" method="POST">
       下記のボタンを押すと、品質が悪いものの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya3" value="<%= data3.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

  </body>
</html>
