.contact tr{
  height: 7rem;
}
.contact th{
  text-align: right;
  padding-right:10px;
  width: 150px;
}
.contact .text{
  width:480px;
}
.submit{
  text-align: center;
}
.submit input{
  color:#fff;
  background-color:#008B8B;
  font-size:3rem;
  padding:10px;
}
.submit input:hover{
  opacity:0.5;
}
